<p>Seus produtos, <%= current_user.restaurant.name %></p>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>
        <% current_user.restaurant.produtos.each do |product| %>
            <tr>
                <th><%= product.name %></th>
                <th><%= product.value %></th>
            </tr>
        <% end %>
    </tbody>

</table>